body {
  user-select: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

* {
  color: white;
}

.link {
  font-weight: 600;
}

.title {
  font-size: 5rem;
  border-radius: 1rem;
  margin: 2rem 0 2rem 0;
}

#output img {
  border-radius: 1rem;
  border: 2px white solid;
}

#button {
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 1rem;
  margin: 2rem 0 1rem 0;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  border: 2px white solid;
}

.footer {
  padding-bottom: 1.5rem;
}

@media screen and (max-width: 900px) {
  .title {
    font-size: 3rem;
  }

  #button {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 550px) {
  .title {
    font-size: 2rem;
  }
}

@media screen and (max-width: 330px) {
  .title {
    font-size: 1.5rem;
  }
}
